@page "/"

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center mb-4">
        <h1>Domain Name Search</h1>
        <p class="lead">Enter a word to find available domain names and synonym alternatives</p>
      </div>
      <SearchForm />
    </div>
  </div>
</div>