@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base tweaks */
body {
  @apply bg-gradient-to-br from-brand-500 to-purple-600 min-h-screen text-slate-900 antialiased;
}

a {
  @apply text-brand-600 hover:text-brand-700 underline-offset-2 transition-colors;
}
